body {
    text-align: center;
    font-family: Oswald;
    margin: 450 auto;
}

img {
    border-radius: 50%;
    width: 9%;
    margin-bottom: -50px;
}

#main-box {
    border: 2px solid black;
    background-color: rgb(196, 93, 93);
    margin: 0 auto;
    width: 30%;
}

#headline {
    margin-top: 50px;
    font-family: serif;
    font-size: 20px;
    font-weight: bolder;
}

#headline-specific {
    color: maroon;
    font-weight: bolder;
}

#description {
    color: rgba(49, 48, 48, 0.993);
    font-weight: bolder;
    font-size: xx-large
}

#extra {
    color: grey;
    margin-top: 50px;
}

#extra-specific {
    color: maroon;
}